.btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  